@page
@model ImportExcelDemo.Pages.DisplayADUser_CMDB.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">AD User And CMDB List</h2>
    </div>
</div>

<br />

<table id="DT_load" class="display cell-border compact nowrap" style="width:100%">
    <thead>
        <tr>
            <th>AD User Id</th>
            <th>Program Office</th>
            <th>CAC Exemption Reason</th>
            <th>Smart Card Required</th>
            <th>User Email Address</th>
            <th>Employee Type</th>
            <th>SAM Account Name</th>
            <th>Description</th>
            <th>User Principal Name</th>
            <th>Account Disabled</th>
            <th>Password Does Not Expire</th>
            <th>Password Cannot Change</th>
            <th>Password Expired</th>
            <th>Account Locked Out</th>
            <th>CAC Extended Info</th>
            <th>UAC</th>
            <th>User Name</th>
            <th>DN</th>
            <th>Created</th>
            <th>Changed</th>
            <th>CMDB ID</th>
            <th>CD Tag</th>
            <th>Organization</th>
            <th>Host Name</th>
            <th>Location</th>
            <th>Floor</th>
            <th>Room</th>
            <th>IP Address</th>
            <th>Subnet Mask</th>
            <th>MAC Address</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Serial Number</th>
            <th>Operating System</th>
            <th>AD User</th>
            <th>Sunflower User</th>
            <th>Status</th>
            <th>Class - Type</th>
            <th>Acquisition Date</th>
            <th>Warranty End Date</th>
            <th>Custodian</th>
            <th>Comments</th>
            <th>Inventoried By</th>
            <th>Inventory Date</th>
            <th>Last Scan</th>
            <th>Modified By</th>
            <th>Modified</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/dtADUser_CMDB.js"></script>
}