<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImportExcelDemo</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
    <!-- Toastr notifcations -->
    <link rel="stylesheet" href="~/toastr/2.1.1/content/content/toastr.min.css" />
</head>

<body style="background-color: lightblue">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-custom border-bottom box-shadow mb-3">

            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="./images/NOAA_logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                CMDB+
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>

                    <!--Additional Pages Added. -->
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/ImportExcel/Index">Import Excel</a>
                    </li>

                    <!-- Dropdown menu of DataTables -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" data-toggle="dropdown">
                            Data Tables
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-page="/DisplayTables/DisplayCMDB/Index">CMDB</a>
                            <a class="dropdown-item" asp-page="/DisplayTables/DisplaySun/Index">Sunflower</a>
                            <a class="dropdown-item" asp-page="/DisplayTables/DisplayEPO/Index">EPO</a>
                            <a class="dropdown-item" asp-page="/DisplayTables/DisplayECMO/Index">ECMO</a>
                            <a class="dropdown-item" asp-page="/DisplayTables/DisplaySCCM/Index">SCCM</a>
                            <a class="dropdown-item" asp-page="/DisplayTables/DisplayADComputer/Index">AD Computer</a>
                            <a class="dropdown-item" asp-page="/DisplayTables/DisplayADUser/Index">AD User</a>
                        </div>
                    </li>

                    <!-- Dropdown menu for queries -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" data-toggle="dropdown">
                            Queries
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-page="/DisplayQueries/DisplayADUser_CMDB/Index">AD User and CMDB</a>
                            <a class="dropdown-item" asp-page="/DisplayQueries/DisplayADComputer_CMDB/Index">AD Computer and CMDB</a>
                            <a class="dropdown-item" asp-page="/DisplayQueries/DisplayAD_CMDB/Index">AD User, AD Computer, and CMDB</a>
                            <a class="dropdown-item" asp-page="/DisplayQueries/DisplayCMDB_Sunflower/Index">CMDB and Sunflower</a>
                            <a class="dropdown-item" asp-page="/DisplayQueries/DisplayCMDB_EPO/Index">CMDB and EPO</a>
                        </div>
                    </li>

                </ul>
            </div>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Contact/Index">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid text-dark">
            &copy; 2020 - ImportExcelDemo - <a asp-area="" style="color:white" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <!-- Sweet Alerts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Toastr -->
    <script src="~/toastr/2.1.1/content/scripts/toastr.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
