<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImportExcelDemo</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
    <!-- Toastr notifcations -->
    <link rel="stylesheet" href="~/toastr/2.1.1/content/content/toastr.min.css" />


</head>
<body style="background-color: aliceblue">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ImportExcelDemo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <!--Additional Pages Added. -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ImportExcel/Index">ImportExcel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/DisplayTable/Index">DisplayTable</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/RazorJSON/GetJSON">RazorJSON</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/PlaySpace/Index">Play Space</a>
                        </li>

                        <!-- Dropdown menu of DataTables -->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropDown" data-toggle="dropdown">
                                Data Tables
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-dark" asp-page="/DisplayCMDB/Index">CMDB</a>
                                <a class="dropdown-item text-dark" asp-page="/DisplaySun/Index">Sunflower</a>
                                <a class="dropdown-item text-dark" asp-page="/DisplayEPO/Index">EPO</a>
                                <a class="dropdown-item text-dark" asp-page="/Admin/User/Index">ECMO</a>
                                <a class="dropdown-item text-dark" asp-page="/Admin/User/Index">SCCM</a>
                                <a class="dropdown-item text-dark" asp-page="/Admin/User/Index">AD</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/DisplayAD/Index">AD</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Display_AD_CMDB/Index">AD and CMDB</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2020 - ImportExcelDemo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <!-- Sweet Alerts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Toastr -->
    <script src="~/toastr/2.1.1/content/scripts/toastr.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
