@page
@model ImportExcelDemo.Pages.ImportExcel.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Upload and Commit</h2>

<partial name="_StatusMessage" model="Model.Message" />

<br />

<div class="container-fluid" style="background-color:steelblue; padding: 3px">
    <form method="post" enctype="multipart/form-data">
        <label for="SccmFile" style="font-weight:bold">CMDB File</label>
        <div class="form-group flex-group">
            <input type="file" asp-for="ExcelUpload" accept=".xls, .xlsx" />
            <input type="submit" value="Commit" style="float:right" asp-page-handler="CmdbCommit" />
        </div>
    </form>
</div>

<div class="container-fluid" style="background-color:lemonchiffon; padding: 3px">
    <form method="post" enctype="multipart/form-data">
        <label for="SccmFile" style="font-weight:bold">Sunflower File</label>
        <div class="form-group flex-group">
            <input type="file" asp-for="ExcelUpload" accept=".xls, .xlsx" />
            <input type="submit" value="Commit" style="float:right" asp-page-handler="SunCommit" />
        </div>
    </form>
</div>

<div class="container-fluid" style="background-color:lightseagreen; padding: 3px">
    <form method="post" enctype="multipart/form-data">
        <label for="SccmFile" style="font-weight:bold">EPO File</label>
        <div class="form-group flex-group">
            <input type="file" asp-for="ExcelUpload" accept=".csv" />
            <input type="submit" value="Commit" style="float:right" asp-page-handler="EPOCommit" />
        </div>
    </form>
</div>

<div class="container-fluid" style="background-color:lightcoral; padding: 3px">
    <form method="post" enctype="multipart/form-data">
        <label for="SccmFile" style="font-weight:bold">SCCM File</label>
        <div class="form-group flex-group">
            <input type="file" asp-for="ExcelUpload" accept=".csv" />
            <input type="submit" value="Commit" style="float:right" asp-page-handler="SCCMCommit" />
        </div>
    </form>
</div>

<div class="container-fluid" style="background-color:lightslategray; padding: 3px">
    <form method="post" enctype="multipart/form-data">
        <label for="SccmFile" style="font-weight:bold">ECMO File</label>
        <div class="form-group flex-group">
            <input type="file" asp-for="ExcelUpload" accept=".csv" />
            <input type="submit" value="Commit" style="float:right" asp-page-handler="ECMOCommit" />
        </div>
    </form>
</div>

<div class="container-fluid" style="background-color:rosybrown; padding: 3px">
    <form method="post" enctype="multipart/form-data">
        <label for="SccmFile" style="font-weight:bold">AD File</label>
        <div class="form-group flex-group">
            <input type="file" asp-for="ExcelUpload" accept=".csv" />
            <input type="submit" value="Commit" style="float:right" asp-page-handler="ADCommit" />
        </div>
    </form>
</div>