@page
@model ImportExcelDemo.Pages.ImportExcel.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Upload and Commit</h1>

<div class="container-sm">
    <img src ="~/sql-joins.png"/>
</div>


<div class="container">
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                    <!--
    <div class="form-group">
        <label for="cmdbFileUpload">CMDB File Upload</label>
        <input type="file" asp-for="CmdbUpload" accept=".xls,.xlsx" class="form-control-file" id="cmdbFileUpload" />
        <div class="col-md-offset-7">
            <br />
            <input type="submit" value="Upload" asp-page-handler="CmdbUpload" class="btn btn-warning" />
            <input type="submit" value="Commit" asp-page-handler="CmdbCommit" class="btn btn-success" />
        </div>
    </div>
    -->
                    <br />
                    <label for="cmdbFileUpload">CMDB File Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" asp-for="ExcelUpload" accept=".xls,.xlsx" class="custom-file-input" id="cmdbFileUpload">
                            <label class="custom-file-label" for="cmdbFileUpload" aria-describedby="CmdbUploadAddon">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="CmdbUploadAddon" asp-page-handler="ExcelUpload">Upload</button>
                            <input type="submit" value="Commit" asp-page-handler="CmdbCommit" class="btn btn-outline-success" />
                        </div>
                    </div>




                    <br />
                    <label for="sunFileUpload">SunFlower File Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" asp-for="ExcelUpload" accept=".xls,.xlsx" class="custom-file-input" id="sunFileUpload">
                            <label class="custom-file-label" for="sunFileUpload" aria-describedby="sunUploadAddon">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="sunUploadAddon" asp-page-handler="ExcelUpload">Upload</button>
                            <input type="submit" value="Commit" asp-page-handler="SunCommit" class="btn btn-outline-success" />
                        </div>
                    </div>




                    <!--                   <br />
    <label for="cmdbFileUpload">Other File Upload</label>
    <div class="input-group">
        <div class="custom-file">
            <input type="file" asp-for="CmdbUpload" accept=".xls,.xlsx" class="custom-file-input" id="cmdbFileUpload">
            <label class="custom-file-label" for="cmdbFileUpload" aria-describedby="CmdbUploadAddon">Choose file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" id="CmdbUploadAddon" asp-page-handler="CmdbUpload">Upload</button>
            <input type="submit" value="Commit" asp-page-handler="CmdbCommit" class="btn btn-outline-success" />
        </div>
    </div>

    <div class="form-group">
        <span style="color:red;">
            @ViewData.Model.Message
        </span>
    </div> -->



                    <br />
                    <label for="epoFileUpload">EPO File Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" asp-for="ExcelUpload" accept=".csv" class="custom-file-input" id="epoFileUpload">
                            <label class="custom-file-label" for="epoFileUpload" aria-describedby="epoUploadAddon">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="epoUploadAddon" asp-page-handler="ExcelUpload">Upload</button>
                            <input type="submit" value="Commit" asp-page-handler="EPOCommit" class="btn btn-outline-success" />
                        </div>
                    </div>


                    <!-- Re Format for other files types-->

                    <br />
                    <label for="epoFileUpload">AD File Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" asp-for="ExcelUpload" accept=".csv" class="custom-file-input" id="epoFileUpload">
                            <label class="custom-file-label" for="epoFileUpload" aria-describedby="epoUploadAddon">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="epoUploadAddon" asp-page-handler="ExcelUpload">Upload</button>
                            <input type="submit" value="Commit" asp-page-handler="EPOCommit" class="btn btn-outline-success" />
                        </div>
                    </div>

                    <br />
                    <label for="epoFileUpload">SCCM File Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" asp-for="ExcelUpload" accept=".csv" class="custom-file-input" id="epoFileUpload">
                            <label class="custom-file-label" for="epoFileUpload" aria-describedby="epoUploadAddon">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="epoUploadAddon" asp-page-handler="ExcelUpload">Upload</button>
                            <input type="submit" value="Commit" asp-page-handler="EPOCommit" class="btn btn-outline-success" />
                        </div>
                    </div>

                    <br />
                    <label for="epoFileUpload">ECMO File Upload</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" asp-for="ExcelUpload" accept=".csv" class="custom-file-input" id="epoFileUpload">
                            <label class="custom-file-label" for="epoFileUpload" aria-describedby="epoUploadAddon">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="epoUploadAddon" asp-page-handler="ExcelUpload">Upload</button>
                            <input type="submit" value="Commit" asp-page-handler="EPOCommit" class="btn btn-outline-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<br />
<div class="form-group">
    <span style="color:red;">
        @ViewData.Model.Message
    </span>
</div>

<!--
<form method="post" enctype="multipart/form-data">
    <!--form-control = bootstrap, placeholder = faded string, accept = specfy file type from file dialog input box
    <input class="form-control" type="file" placeholder="To Upload" asp-for="Upload" accept=".xls,.xlsx" />
    <input type="submit" />
</form>
-->
