@page
@model ImportExcelDemo.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="jumbotron">
        <h1 class="display-4">Welcome To Our CMDB Project</h1>
        <h1 class="display-4">@Model.TimeNow</h1>
        <hr class="my-4" />
        <p class="lead">
            This is a simple Web app using C#'s ASP.NET Core Framework following RazorPages Layout. Will incorporate SQL as Database
        </p>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <form method="post" class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend>Please Select Which Data Source You Wish To Look At</legend>
            <!-- Multiple Checkboxes -->
            <div class="form-group" >
                <div class="col-md-12">
                    <select name="DataSet">
                        <option value="0">
                            AD Computer
                        </option>

                        <option value="1">
                            AD User
                        </option>

                        <option value="2">
                            CMDB
                        </option>

                        <option value="3">
                            Sunflower
                        </option>

                        <option value="4">
                            EPO
                        </option>

                        <option value="5">
                            AD User and CMDB
                        </option>

                        <option value="6">
                            AD Computer and CMDB
                        </option>

                        <option value="7">
                            AD User, AD Computer, and CMDB
                        </option>

                        <option value="8">
                            CMDB And Sunflower
                        </option>

                        <option value="9">
                            CMDB And EPO
                        </option>
                    </select>
                </div>
            </div>
            <button method="post" asp-page-handler="Submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>