@page
@model ImportExcelDemo.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Home Page</h1>

<div class="text-center">

    <div class="jumbotron">
        <h1 class="display-4">Welcome @Model.Message</h1>
        <h1 class="display-4">@Model.TimeNow</h1>
        <hr class="my-4" />
        <p class="lead">
            This is a simple Web app using C#'s ASP.NET Core Framework following RazorPages Layout. Will incorporate SQL as Database
        </p>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


</div>