@page
@model ImportExcelDemo.Pages.PlaySpace.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>JavaScript Stuff2...hi im changed</h1>

<p id="demo">JavaScript can change HTML content.</p>

<button type="button" onclick="document.getElementById('demo').innerHTML = 'Hello JavaScript!'">Click Me!</button>