@page
@model ImportExcelDemo.Pages.PlaySpace.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>JavaScript Stuff2...hi im changed</h1>

<p id="demo">JavaScript can change HTML content.</p>

<button type="button" onclick="document.getElementById('demo').innerHTML = 'Hello JavaScript!'">Click Me!</button>
<br />
<br />

<!-- Choose List  -->
<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Choose List</legend>

        <!-- Multiple Radios -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="radios">Data Sources</label>
            <div class="col-md-4">
                <div class="radio">
                    <label for="radios-0">
                        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                        CMDB
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-1">
                        <input type="radio" name="radios" id="radios-1" value="2">
                        Sunflower
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-2">
                        <input type="radio" name="radios" id="radios-2" value="3">
                        EPO
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-3">
                        <input type="radio" name="radios" id="radios-3" value="4">
                        ECMO
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-4">
                        <input type="radio" name="radios" id="radios-4" value="5">
                        SCCM
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-5">
                        <input type="radio" name="radios" id="radios-5" value="6">
                        AD
                    </label>
                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submitList"></label>
            <div class="col-md-4">
                <button id="submitList" name="submitList" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </fieldset>
</form>



<!-- Data Table -->
<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">CMDB List</h2>
        </div>
        <!--
        <div class="col-6 text-right">
            <a asp-page="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
        // -->
    </div>
    <br />
    <table id="DT_load" class="display cell-border compact nowrap dt-responsive" style="width:100%">
        <!--table table-striped table-bordered compact -->
        <thead>
            <tr>
                <th>CMDB ID</th>
                <th>CD Tag</th>
                <th>Organization</th>
                <th>Host Name</th>
                <th>Location</th>
                <th>Floor</th>
                <th>Room</th>
                <th>IP Address</th>
                <th>Subnet Mask</th>
                <th>MAC Address</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Serial Number</th>
                <th>Operating System</th>
                <th>AD User</th>
                <th>Sunflower User</th>
                <th>Status</th>
                <th>Class - Type</th>
                <th>Acquisition Date</th>
                <th>Warranty End Date</th>
                <th>Custodian</th>
                <th>Comments</th>
                <th>Inventoried By</th>
                <th>Inventory Date</th>
                <th>Last Scan</th>
                <th>Modified By</th>
                <th>Modified</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{

    <script src="~/js/sampleTable.js"></script>

<!--
    <script>
        if (document.getElementById('radios-0').checked) { // Change radios-0 to CMBD to match
            //Add Script to table
            <script src="~/js/sampleTable.js"></script>
}
        else if (document.getElementById('radios-1').checked){

        {
}
    </script>

    -->

}